<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title></title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="material/css/jquery.datetimepicker.b805db3bb426.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/portal.c2bfd6b9cc10.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="material/css/jquery.datetimepicker.b805db3bb426.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/datepicker.css">
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<style>
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0px !important;
    margin-bottom: 2px !important;
}

</style>
</head>
<body>
<main>
  <div class="container">
    <div class="row" id="content">
      <h3> Items in Your Cart </h3>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-xs-10">
                <h4> Booking Summary </h4>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <!-- A PRODUCT -->
            <div class="row" style="line-height:50px;">
              <div class="col-md-12 col-xs-12">

                <table class="table table-bordered">
                  <tr>
                    <td width="40%;"><b> Your Reference:</td>
                    <td>123456</td>
                  </tr>
                  <tr>
                    <td width="40%;"><b>Full Name</b></td>
                    <td>Name</td>
                  </tr>


                  <tr>
                    <td width="40%;"><b>Ticket Delivery Address</td>
                    <td>Address1, Address2</td>
                  </tr>
				  <tr>
                    <td width="40%;"><b>Notes</td>
                    <td class="text-justify">The Interrail One Country Pass is a great choice if you want to focus on one European country only. You can then discover the country of your choice inside out!</td>
                  </tr>
                </table>

              </div>
            </div>
			  <div class="row" style="line-height:20px;">
              <div class="col-md-10 col-md-offset-1 text-center">
                 <p>Please confirm that you agree to our <a href="#">terms and conditions</a> then press the Book Now button below.</p>
              </div>
            </div>



          </div>
        </div>




      </div>

	   <div class="col-md-6">
       <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-8 col-sm-8">
                    <strong>
                      <div id="DisplayName">London Euston - Manchester Piccadilly</div>

                    </strong>
                  </div>
                  <div class="col-xs-4 col-sm-4 text-right">

                  £240.00&nbsp;
				  <span class="glyphicon glyphicon-trash" style="cursor:pointer;"></span>
                </div>
              </div>
              </div>
              <div class="panel-body">
                <!-- A PRODUCT -->
                <div class="row">
                  <!-- PRODUCT DETAILS -->
                  <div class="col-md-12">
                    <table class="table table-bordered">

                  <tr>
                    <td><b> Departure</td>
                    <td>2019-01-16 08:00</td>

                    <td><b>Arrival</td>
                    <td>2019-01-16 10:05</td>

                  </tr>
                  <tr>
                    <td><b>Class</td>
                    <td colspan="3">Standard</td>
                  </tr>
				  <tr>
				  <td colspan="2"><b> Sales Conditions</td>
                    <td colspan="2">Non-Refundable</td>
					</tr>
                </table>

                  </div>
                </div>
              </div>

            </div>
			<div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-8 col-sm-8">
                    <strong>
                      <div id="DisplayName">London Euston - Manchester Piccadilly</div>

                    </strong>
                  </div>
                  <div class="col-xs-4 col-sm-4 text-right">

                  £240.00&nbsp;
				  <span class="glyphicon glyphicon-trash" style="cursor:pointer;"></span>
                </div>
              </div>
              </div>
              <div class="panel-body">
                <!-- A PRODUCT -->
                <div class="row">
                  <!-- PRODUCT DETAILS -->
                  <div class="col-md-12">
                   <table class="table table-bordered">

                  <tr>
                    <td><b> Departure</td>
                    <td>2019-01-16 08:00</td>

                    <td><b>Arrival</td>
                    <td>2019-01-16 10:05</td>

                  </tr>
                  <tr>
                    <td><b>Class</td>
                    <td colspan="3">Standard</td>
                  </tr>
				  <tr>
				  <td colspan="2"><b> Sales Conditions</td>
                    <td colspan="2">Non-Refundable</td>
					</tr>
                </table>

                  </div>
                </div>
              </div>

            </div>

		 <table class="table table-bordered">

                  <tr>
                    <td width="77%;" class="text-right"><b> Total</td>

					<td rowspan="3" class="text-center"><b>£480.00</b></td>
                  </tr>



                </table>
      </div>
        <div class="col-md-12 text-center">
            <input  type="checkbox"> <label>I agree to the Terms &amp; Conditions &nbsp; &nbsp; </label>

          <button type="submit" name="_submit" class="btn btn-large btn-success waves-effect green right">Book Now</button>
		 <br><br>

      </div>
    </div>
  </div>
</main>
<script type="text/javascript" src="js/jquery.e40ec2161fe7.js"></script>
<script type="text/javascript" src="js/datatables.bcf14f55a387.js"></script>
<script type="text/javascript" src="js/materialize.90f5e15fea59.js"></script>
<script type="text/javascript" src="js/portal.eef9d8cb6b7e.js"></script>
<script type="text/javascript" src="js/formset.f7d6a977d248.js"></script>
</body>
</html>